*.class

# Package Files #
*.jar
*.war
*.ear

/bin
/target
/data/*.txt
/data/schema/*.values
/data/schema2/*.values
/data/schema3/*.values
/data/extracted

/.project
/.settings

/src/main/resources/db.properties

